body {

  background-color: #ded2c1;
}
p {
    color: #574c3c;
    font-family: 'Times New Roman', serif;
}
h1 {
    text-align: center
}
h3 {
    color: #574c3c;
    font-family: 'Times New Roman', serif;
}
